# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [9]:
# Your code here:
legendary_count = pokemon['Legendary'].value_counts()
legendary_count

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
legendary = pokemon[pokemon["Legendary"] == True].dropna()
non_legendary = pokemon[pokemon["Legendary"] == False].dropna()

legendary_mean = legendary["Total"].mean()
legendary_std = legendary["Total"].std()

non_legendary_mean = non_legendary["Total"].mean()
non_legendary_std = non_legendary["Total"].std()

print(f"legendary_mean is :{round(legendary_mean,2)}")
print(f"legendary_std is :{round(legendary_std,2)}")
print()
print(f"non_legendary_mean is :{round(non_legendary_mean,2)}")
print(f"non_legendary_std is :{round(non_legendary_std,2)}")

legendary_mean is :645.25
legendary_std is :59.7

non_legendary_mean is :436.45
non_legendary_std is :107.59

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:
from scipy.stats import ttest_ind

legendary_points = pokemon[pokemon["Legendary"] == True]["Total"].dropna()
non_legendary_points = pokemon[pokemon["Legendary"] == False]["Total"].dropna()

t_stat, p_value = ttest_ind(legendary_points, non_legendary_points, equal_var=False)

print(f"Tstatistics: {t_stat:.5f}")
print(f"P-value: {p_value:.5f}")

if p_value < 0.05:
    print("The points difference between legendary and non-legendary Pokemon is statistically significant.")
else:
    print("The points difference between legendary and non-legendary Pokemon is not statistically significant.")

Tstatistics: 25.83357
P-value: 0.00000
The points difference between legendary and non-legendary Pokemon is statistically significant.

What do you conclude from this test? Write your conclusions below.

In [15]:
# Your conclusions here:

# From our sample we can conclude that in the sample the difference between points from legendary and non-legendary Pokemon´s 
#    are statistical significance since the P-value is less (0%) than 5% (confidence Level).
#    Also the standard deviation of the Total points is bigger on non-legendary Pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:
type_1 = pokemon['Type 1'].value_counts()
type_1

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [19]:
# Your code here:
water_pokemon = pokemon[pokemon["Type 1"] == "Water"].dropna()
non_water_pokemon = pokemon[pokemon["Type 1"] != "Water"].dropna()

water_mean = water_pokemon["Total"].mean()
water_std = water_pokemon["Total"].std()

non_water_mean = non_water_pokemon["Total"].mean()
non_water_std = non_water_pokemon["Total"].std()

print(f"water_mean is :{round(water_mean,2)}")
print(f"water_std is :{round(water_std,2)}")
print()
print(f"non_water_mean is :{round(non_water_mean,2)}")
print(f"non_water_std is :{round(non_water_std,2)}")

water_mean is :449.06
water_std is :109.27

non_water_mean is :457.74
non_water_std is :122.56

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:
water_pokemon = pokemon[pokemon["Type 1"] == "Water"]["Total"].dropna()
non_water_pokemon = pokemon[pokemon["Type 1"] != "Water"]["Total"].dropna()

t_stat, p_value = ttest_ind(legendary_points, non_water_pokemon, equal_var=True)

print(f"Tstatistics: {t_stat:.5f}")
print(f"P-value: {p_value:.5f}")

if p_value < 0.05:
    print("The mean of the points difference between for water Pokemon to all non-water Pokemon is statistically significant.")
else:
    print("The mean of the points difference between for water Pokemon to all non-water Pokemon is not statistically significant.")

Tstatistics: 13.25402
P-value: 0.00000
The mean of the points difference between for water Pokemon to all non-water Pokemon is statistically significant.

Write your conclusion below.

In [23]:
# Your conclusions here:
# The P-value is the "same" as the differnce between legendary and non-legendary Pokemon with a P-value of 0. 
# howhever the mean beteween watwr and non water is very similar

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
pokemon.describe().T

            count       mean         std    min     25%    50%     75%    max
#           800.0  362.81375  208.343798    1.0  184.75  364.5  539.25  721.0
Total       800.0  435.10250  119.963040  180.0  330.00  450.0  515.00  780.0
HP          800.0   69.25875   25.534669    1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366    5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501    5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294   10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916   20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474    5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290    1.0    2.00    3.0    5.00    6.0

In [26]:
# Your code here:
from scipy.stats import ttest_rel

t_stat, p_value = ttest_rel(pokemon["Attack"], pokemon["Defense"])

print(f"Tstatistics: {t_stat:.5f}")
print(f"P-value: {p_value:.5f}")

if p_value < 0.05:
    print(" Reject null Hypotheses: The defense and attack scores are significant different.")
else:
    print(" Fail to Reject null Hypotheses: The defense and attack scores aren´t significant different.")

Tstatistics: 4.32557
P-value: 0.00002
 Reject null Hypotheses: The defense and attack scores are significant different.

Describe the results of the test in the cell below.

In [28]:
# Your conclusions here:
# since the p-value is less than the aplha = 0.05 we say that defense and attack scores arent´t correlated

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [30]:
# Your code here:

t_stat, p_value = ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

print(f"Tstatistics: {t_stat:.5f}")
print(f"P-value: {p_value:.5f}")

if p_value < 0.05:
    print("Reject the Null Hypoteses: The defense and attack scores are significant different.")
else:
    print("Fail to Reject null Hypotheses: The defense and attack scores aren´t significant different.")

Tstatistics: 0.85399
P-value: 0.39337
Fail to Reject null Hypotheses: The defense and attack scores aren´t significant different.

Describe the results of the test in the cell below.

In [32]:
# Your conclusions here:
# This indicates that there is no statistically significant difference between special attack and special defense scores in this sample

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [34]:
# Your code here:
from scipy.stats import ttest_1samp
poke_differences= pokemon['Defense'] - pokemon['Attack']

t_stat, p_value = ttest_1samp(poke_differences, 0)

print(f"Tstatistics: {t_stat:.5f}")
print(f"P-value: {p_value:.5f}")


if p_value < 0.05:
    print("Reject the Null Hypoteses: The mean difference is sgnificantly different from 0.")
else:
    print("Fail to Reject null Hypotheses: The mean difference is not sgnificantly different from 0..")

Tstatistics: -4.32557
P-value: 0.00002
Reject the Null Hypoteses: The mean difference is sgnificantly different from 0.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [36]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [37]:
# Your code here:
pokemon['is_water'] = pokemon['Type 1'] == "Water"

contigency_table = pd.crosstab(pokemon['Legendary'], pokemon['is_water'])
contigency_table

is_water   False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [42]:
# Your code here:
from scipy.stats import chi2_contingency

chi2, chi_p, __, __  = chi2_contingency(contigency_table)

print("Chi-Squared Statistic:", chi2)
print("P-value:", chi_p)

Chi-Squared Statistic: 2.9429200762850503
P-value: 0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [44]:
# Your answer here:
if chi_p < 0.05:
    print("Reject the null hypothesis: There is a significant association between being legendary and being a Water type.")
else:
    print("Fail to reject the null hypothesis: There is no significant association between being legendary and being a Water type.")

Fail to reject the null hypothesis: There is no significant association between being legendary and being a Water type.